<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNgeVll4MkIuJga90y7_f8hK34I5NpEUo</string>
	<key>GCM_SENDER_ID</key>
	<string>350658212835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickDrinkApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rankingjulkow</string>
	<key>STORAGE_BUCKET</key>
	<string>rankingjulkow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350658212835:ios:53f8d92aea1950793c66d6</string>
</dict>
</plist>